@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 39, 39, 0.8);
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 100vw;
    height: 100vh;
    border-radius: 12px;
    background-color:var(--background-secondary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-size: 1rem;
    text-align: left;
  }

  .ReviewDescription {
    font-family: inherit;
    flex: 3;
    max-width: 100%;
    min-width: 100%;
    font-size: large;
    padding: 15px 25px 15px;
    margin-bottom: 30px;
    resize: none;
    color: inherit;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: var(--button-color);
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  .footer button:hover {
    background-color: var(--button-press);
  }
  
  #cancelBtn {
    background-color: crimson;
  }

  .TaskerRateHeader {
    font-size: medium;
    font-style: italic;
    font-weight: 600;
    color: var(--font-color-primary);
    text-align: left;
    padding-bottom: 10px;
  }

  .taskerRate {
      height: 46px;
      width:fit-content;
      margin-bottom: 15px;
  }

  .rating{
    border: none;
    float: left;
  }

  .rating > input{
    display: none;
  }
  
  .rating > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
  }

  .rating > label{
    color:   var(--accent-color);
    float: right;
    cursor: pointer;
  }

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: #deb217;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #FBD930;
}