.TradesmanContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.TopContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--background-secondary);
}

.BackButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.ReportMessage {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.ReportProfile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: white;
    padding-inline: 10px;
    border-radius: 10px;
}

.ReportContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin-right: 20px;
}

.Profile {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--accent-color);
    background-color: var(--background-secondary);
    margin: 20px auto;
    width: 60%;
}

.ProfileHeader {
    height: 130px;
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-inline: 20px;
    background-color: var(--font-color-secondary);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.ProfileImage {
    background-color: var(--background-primary);
    background-image: url('../assets/profilePicturePlaceholder.jpg');
    background-size: cover;
    position: relative;
    border: 2px solid var(--button-color);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    top: 100px;
}

.ProfileName {
    color: var(--background-primary);
    font-family: var(--font-family-title);
    font-size: 60px;
}

.ProfileContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ProfileContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}

.ProfileDescriptionContent {
    padding: none;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 20px;
}

.ProfileLabels {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-bottom: 5px;
}

.RateTaskerButton {
    background-color: var(--button-color);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    padding-inline: 10px;
    text-decoration: inherit;
    color: inherit;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    transition: all 0.3s;
    margin-bottom: 15px;
}

.RateTaskerButton:hover {
    background-color: var(--button-press);
 }

.ProfileLocation {
    padding-left: 10px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: var(--accent-color);
    text-align: left;
    margin-bottom: 20px;
}

.ProfileExpertise {
    margin-left: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.ProfileStats {
    min-width: 240px;
    padding-top: 120px;
    border-left: 1px solid var(--accent-color);
    display: flex;
    flex-direction: column;
}

.RatingElement {
    margin-bottom: 40px;
}

.RatingElement {
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
}

.ExpertiseItem {
    margin-bottom: 10px;
}

.BackButton {
    display: flex;
    background-color: transparent;
    border: none;
    color: var(--font-color-secondary);
    font-size: 20px;
    cursor: pointer;
}

.VerticalLine {
    border-right: 1px solid var(--accent-color);
    height: 85%;
    margin-inline: 5px;
}

.star-rating {
    display: inline-block;
}

.stars-container {
    direction: rtl;
    flex-direction: row;
}

.star,
.golden-star {
    font-size: 2em;
    display: inline-block;
}

.star {
    color: var(--accent-color);
}

.golden-star {
    color: #FBD930;
}

.StarDisplay {
    vertical-align: middle;
    margin-bottom: 10px;
}

.ProfileReviewElement {
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-tertiary);
    font-size: 15px;
}

.ProfileReviewLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    padding-block: 5px;
    text-wrap: nowrap;
    border-right: 1px solid var(--accent-color);
}

.ProfileReviewName {
    text-align: center;
    font-weight: bold;
    color: var(--accent-color);
    font-size: 18px;
}

.ProfileReviewDesc {
    text-align: left;
    align-items: start;
    padding-inline: 10px;
}

.ProfileReviewRating {
    font-size: 15px;
    text-wrap: nowrap;
}

.ProfileReviewsHeader {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin-block: 10px;
}

.ProfileMaps {
    margin-inline: 20px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid var(--accent-color);
}