.Container {
    display: flex;
    grid-template-columns: 1fr 2fr;
    height: 100vh; 
}

.RightContainer {
    display: flex;
    padding: 20px;
    flex: 4;
    flex-direction: column;
    grid-template-rows: 2fr 1fr;
    background-color: white;
    height: 100vh;
}

.TaskInfoPanel {
    flex: 1.25;
    border-bottom: 1px solid black;
    background-color: white;
}

.TaskRepliesPanel {
    flex: 1;
    background-color: white;
}