.LoginLanding {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    height: 100vh;
    padding-top: 20px;
}

.LoginLandingItem {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 47vh;
    padding: 20px;
    margin: 0px 1vw 0px 1vw;
    margin-top: 40px;
    background-color: var(--background-secondary);
}

.LoginLandingIcon {
    height: 20vh;
    width: auto;
}

.LoginLandingButton {
    --height: 10vh;
    height: var(--height);
    line-height: var(--height);
    width: 500px;
    font-family: var(--font-family-title);
    text-align: center;
    font-size: 38px;
    white-space: nowrap;
    border-radius: 15px;
    border: 1px solid var(--accent-color);
    padding: 0px 10px 0px 10px;
    transition: all 0.3s;
    margin-bottom: 20px;
    background-color: var(--button-color);
}

.LoginLandingButton:hover {
    background-color: var(--button-press);
}

.LoginLandingText {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
}