:root {
  --background-primary: rgb(210, 210, 210);
  --background-secondary: white;
  --font-color-primary: black;
  --font-color-secondary: #015CAB;
  --accent-color: #656565;
  --button-color: #FBD930;
  --button-press: #fbaa30;
  --font-family-title: Righteous, Verdana, Geneva, Tahoma, sans-serif;
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

[data-theme='dark'] {
  --background-primary: rgb(30, 30, 30);
  --background-secondary: rgb(60, 60, 60);
  --font-color-primary: white;
  --font-color-secondary: #FBD930;
  --accent-color: #656565;
  --button-color: #015CAB;
  --button-press: #019aab;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}