.Container {
    display: flex;
    height: 100vh;
}

.RightContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.TaskContainer {
    flex: 1.2;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.TaskRepliesPanel {
    flex: 1;
    text-align: left;
}

.ReplyElement {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    display: flex;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
}

.ReplyName {
    font-style: italic;
    font-weight: bolder;
    font-size: x-large;
    padding-top: 5px;
    padding-bottom: 5px;
}

.star-rating {
    display: inline-block;
}

.stars-container {
    direction: rtl;
    flex-direction: row;
}

.star,
.golden-star {
    font-size: 2em;
    display: inline-block;
}

.star {
    color: #ddd;
}

.golden-star {
    color: #FBD930;
}

.ReplyNameContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.Divider {
    width: 1px;
}

.ReplyMessage {
    margin-right: 20px;
}

.ReplyMessageContainer {
    display: flex;
    flex: 3;
    align-items: center;
}

.TaskInfoPanel {
    flex: 1.25;
    border-bottom: 1px solid var(--accent-color);
    text-align: left;
}

.TaskName,
.RepliesHeader {
    font-style: italic;
    font-weight: bolder;
}

.TaskName {
    font-size: x-large;
    padding-top: 40px;
    padding-left: 60px;
}

.RepliesHeader {
    font-size: xx-large;
    padding-left: 40px;
}

.TaskDescription {
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    padding-left: 20px;
    padding-right: 40px;
    text-overflow: ellipsis;
}

.TaskLocationPanel {
    flex: 1;
    background-color: cadetblue;
    border-bottom: 1px solid var(--accent-color);
}