.Container {
    display: flex;
    grid-template-columns: 1fr 4fr;
    height: 100vh; 
}

.RightPanel {
    flex: 4;
    background-color: white;
    padding: 20px;
}

.CreateTaskTitle {
    margin: 0px;
    color:rgb(73, 73, 73);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size:xx-large;
    padding-bottom: 20px;
}

.RightPanelElement {
    text-align: center;
    padding-bottom: 20px;
}

.FieldLabel {
    color:rgb(73, 73, 73);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
    margin-right: 15px;
    vertical-align:top;
}

.DescriptionTextArea {
    resize: none;
    width: 300px;
    height: 150px;
    padding: 10px;
}

.PostButton {
    padding-inline: 40px;
    border-radius: 10px;
    background-color: #015CAB;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
}