.LeftPanel {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-right: 1px solid black;
}

.CurrentTaskButton {
    background-color: #FBD930;
    width: 12em;
    height: 2em;
    border-radius: 10px;
    margin-bottom: 10px;
    color: rgb(73, 73, 73);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 1em;
}

.CurrentTaskTitle {
    margin: 0px;
    color: rgb(73, 73, 73);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 20px;
}