.LeftPanel {
    width: 250px;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid var(--accent-color);
    background-color: var(--background-secondary);
}

.CurrentTaskTitle {
    margin: 0px;
    color: var(--font-color);
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.Container {
    display: flex;
    flex-direction: row;
}

.TaskList {
    margin-top: 15px;
}

.CurrentTaskButton {
    background-color: var(--button-color);
    width: 90%;
    height: 35px;
    border: 1px solid var(--button-press);
    border-radius: 10px;
    margin-bottom: 15px;
    color: var(--font-color);
    font-weight: bolder;
    font-size: 15px;
}