.Container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.LeftPanel {
    width: 250px;
    padding: 20px;
    border-right: 1px solid var(--accent-color);
}

.CurrentTasks {
    margin-top: 10px;
}

.CurrentTaskButton {
    background-color: var(--button-color);
    width: 12em;
    height: 2em;
    border-radius: 10px;
    margin-bottom: 10px;
    color: var(--font-color);
    font-style: italic;
    font-weight: bolder;
    font-size: 1em;
}

.CurrentTaskTitle {
    margin: 0px;
    color: var(--font-color);
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 20px;
}