.LeftPanel {
    width: 300px;
    min-width: 250px;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid var(--accent-color);
    background-color: var(--background-secondary);
}

.CurrentTaskTitle {
    margin: 0px;
    color: var(--font-color);
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.Container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: var(--background-primary);
}

.TaskList {
    margin-top: 15px;
}

.CurrentTaskButton {
    background-color: var(--button-color);
    border: none;
    width: 100%;
    padding-block: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    margin-bottom: 5px;
    color: var(--font-color);
    font-weight: bolder;
    font-size: 15px;
    transition: all 0.3s;
}

.CurrentTaskButton:hover {
    background-color: var(--button-press);
}

.Category {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px;
}

.CategoryName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: var(--font-family-title);
}

.CategoryContainer {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.NewCategoryButton {
    margin-top: 50px;
}

.NewTaskButton {
    margin-top: 10px;
}

.NewButton {
    background-color: var(--background-primary);
    border: 1px solid var(--accent-color);
    padding-inline: 30px;
    padding-block: 5px;
    font-size: 30px;
    font-family: var(--font-family-title);
    border-radius: 10px;
    transition: all 0.3s;
    text-wrap: nowrap;
}

.NewButton:hover {
    background-color: var(--button-color);
}

.NewCategoryDropdown {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewCategoryInput {
    margin-top: 10px;
    width: 90%;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 10px;
    padding-block: 5px;
    border: 1px solid var(--accent-color);
    padding-inline: 5px;
}

.NewCategorySubmit {
    width: fit-content;
    padding-inline: 30px;
    padding-block: 5px;
    border-radius: 10px;
    background-color: var(--background-secondary);
    border: 1px solid var(--accent-color);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    color: inherit;
    transition: all 0.3s;
}

.NewCategorySubmit:hover {
    background-color: var(--background-primary);
}