.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-color);
  background-color: var(--background-secondary);
  height: 70px;
  padding: 0px;
  margin: 0px;
}

.MenuSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0.1;
  justify-content: space-around;
}

.LeftSection {
  justify-content: space-around;
}

.RightSection {
  justify-content: space-around;
}

.HeaderTitle,
.MenuButton {
  display: flex;
  align-items: center;
}

.HeaderIcon {
  margin: auto;
  text-align: center;
  font-size: 35px;
  padding: 0;
  color: var(--font-color-secondary);
}

.MenuIcon {
  font-size: 40px;
  padding-right: 0px;
  margin-right: 0px;
}

.HeaderTitleText {
  margin: auto;
  flex-grow: 1;
  color: var(--font-color-secondary);
  font-family: var(--font-family-title);
}